/* base styling */
body {
  background-color: rgba(19, 23, 34, 0.8);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  padding: 0 10px;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

/* kchart element styling */
#legend {
  color: rgba(255, 255, 255, 0.8);
  width: 650px;
  padding: 0px;
  position: relative;
  top: 685px;
  left: 250px;
  z-index: 3;
  display: inline-block;
}

#date {
  color: rgba(255, 255, 255, 0.8);
  padding: 0px;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 2;
  display: inline-block;
}

#kchart {
  padding: 0px;
  margin: 0px;
}

/* book wall */
#kchart-wall {
  padding: 0px;
  margin: 0px;
}

/* Bot stats */
#bot-info-panel {
  max-width: 1600px;
  margin: 10px 0;
  padding: 0 0 10px 0;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(19, 23, 34, 1);
}

#bot-info-panel h2 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.bot {
  width: 515px;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
}

.bot-roi-div, .bot-info-div {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.bot-roi-div {
  width: 288px;
}

.bot-info-div {
  width: 212px;
}

p.bot-roi {
  font-size: 36px;
  margin: 0 0 0 5px;
  padding: 0;
}

.bot-info-div p {
  margin: 0;
  padding: 0;
}

.bot table {
  width: 515px;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.bot th, 
.bot tr, 
.bot td {
  text-align: center;
}

.bot td.trade-time {
  width: 240px;
}

.bot td.trade-action {
  width: 115px;
}

.bot caption {
  background-color: rgba(0, 150, 235,1);
}

.bot tr:nth-child(odd) {
  background-color:rgba(28, 29, 34, 1);
}

/* Live stats of trading activities*/
#live-stats {
  margin: 0;
  max-width: 1600px;
  padding: 10px 0px 10px 0;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(19, 23, 34, 1);
}

#current-action {
  text-align: center;
  max-width: 600px;
  display: inline-block;
}

#dyde {
  max-width: 600px;
}

table.stats {
  margin: 0 10px;
  max-width: 1600px;
}

table.stats,
th.stats,
td.stats {
  border: solid 1px;
  border-collapse: collapse;
}

td.stats {
  width: 150px;
  text-align: center;
}